.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #2c3e50; /* Dark slate gray background */
  color: white;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 500;
  height: 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid #4caf50;
}
 
.navbar-logo {
  font-size: 28px;
  font-weight: bold;
  color: #4caf50;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
 
.navbar-logo:hover {
  color: #45a049;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
 
.navbar-links {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 30px;
}
 
.navbar-links a {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding: 8px 0;
  transition: color 0.3s ease;
}
 
.navbar-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: width 0.3s ease;
}
 
.navbar-links a:hover::after {
  width: 100%;
}
 
.navbar-links a:hover {
  color: #4caf50;
}
 
.navbar-signout {
  display: flex;
  gap: 20px;
  align-items: center;
}
 
.navbar-signout a, .practice-dropdown {
  padding: 12px 24px;
  border-radius: 25px;
  background: linear-gradient(90deg, #4caf50, #45a049);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.select-flashcard{
  background-color: white;
  color: grey;
}
.select-option{
  background-color: gray;
  color: black;
  font-size:x-large;
  font-weight: bold;
}
 
.sale
.navbar-signout a:hover, .practice-dropdown:hover {
  background: linear-gradient(90deg, #45a049, #3d8e43);
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}